<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://localhost:3306/fimoteca</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <property name="hibernate.show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>
        <!--puede ser: update, create, none, validate -->

        <!--cambiar el mapping class al objeto-->
        <mapping class="model.Film" />
    </session-factory>
</hibernate-configuration>
